//  error.pug
    Parker Rose Burck
    This is the content for the error page for COMP 2068 Assignment 1 (Oct15Trial)

extends layout

block content
  h1= message
  h2= error.status
  pre #{error.stack}
