//  footer.pug
    Parker Rose Burck
    footer file to include in layout.pug for COMP 2068 Assignment 1 (Oct15Trial)
 
footer
    h5 Parker Rose
    h5 COMP2068 Assignment 1
    h5 Georgian College
        
        
