

extends layout

block content
  div
    h1 My Projects
    section
        h3 Websites I designed and developed in Co-op (ongoing) :
        a(href="https://www.customsoundandvision.ca/") Custom Sound and Vision
        a(href="https://mynetworx.ca/") MyNetworx
        a(href="http://kastem.ca/") Kastem
